#header {
    min-height: 100vh;
    width: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-top {

    padding: 40px 0;

    @include media ('>=tablet') {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .header-logo {

        .logo {
            display: none;

            @include media ('>=tablet') {
                display: block;
                width: calc(136px - 10px);
                margin: 0 10px 0 0;
            }

            img {
                display: block;
                width: 100%;
            }
        }
    }

    .main-nav {

        #nav {
            @extend %listreset;

            height: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            @include media ('>=tablet') {
                justify-content: flex-end;
            }


            li {
                position: relative;
                margin: 0 10px 0 0;
                font-family: 'Roboto';
                font-size: 14px;
                font-weight: 700;
                text-transform: uppercase;

                @include media ('>=tablet') {
                    margin: 0 29px 0 0;
                    font-size: 20px;
                    letter-spacing: 2px;
                }
            }

            li:last-child {
                margin: 0;
            }

            li a:hover {
                color: $blue;
            }

            li:after {
                content: " ";
                position: absolute;
                top: 4px;
                right: -7px;
                border-left: 2px solid $white;
                height: 12px;
                transform: rotate(20deg);

                @include media ('>=tablet') {
                    top: 5px;
                    right: -19px;
                    border-left: 3px solid $white;
                    height: 18px;
                }
            }

            li:last-of-type:after {
                content: none;
            }
        }
    }
}